footer {
    position: sticky;
    top: 100%;
    margin-top: 10%;
    color: #ffffff;
  }
  
  .footer-links a, .footer-contact {
    font-size: 1.3vw!important;
    color: #ffffff;
  }
  
  .footer-text, .footer-text p, address {
    font-size: .7rem!important;
    background-color: #235399;
    margin-bottom: 0;
  }

  .footer-text p {
      width: 50%;

      margin-top: 5px;
  }

  .footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 19%;
  }
  
  .footer-links-column {
      display: flex;
      flex-direction: column;
  }

  .footer-text {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    gap: 4px;
  }
  
  .footer-brand {
    display: flex;
    justify-content: center;
    text-align: left;
    padding: 2rem 0;
    background-color: #00204E;
    font-size: 1.7vw;
  }
  

 address {
     margin-top: 5px;
 }