footer {
    position: sticky;
    top: 100%;
    margin-top: 10%;
    color: #ffffff;
  }
  
  .footer-links a, .footer-contact span {
    font-size: 1.3vw!important;
    color: #ffffff;
  }
  
  .footer-text, .footer-text p {
    font-size: .7rem!important;
    background-color: #235399;
    margin-bottom: 0;
  }
  
  .footer-links {
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    grid-gap: 5px;
  }
  
  .footer-text {
    display: grid;
    grid-template-columns: 33% 2fr 1fr;
    justify-items: center;
    align-items: flex-start;
    padding: 3rem;
  }
  
  .footer-brand {
    display: flex;
    justify-content: center;
    text-align: left;
    padding: 2rem 0;
    background-color: #00204E;
    font-size: 1.7vw;
  }
  

 address {
     margin-top: 5px;
 }